USE [master]
GO
/****** Object:  Database [dbGAS]    Script Date: 1/29/2026 2:45:47 PM ******/
CREATE DATABASE [dbGAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbGAS', FILENAME = N'C:\Data\dbGAS.mdf' , SIZE = 5MB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbGAS_log', FILENAME = N'C:\Data\dbGAS_log.ldf' , SIZE = 5MBB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbGAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbGAS]
GO
/****** Object:  UserDefinedFunction [dbo].[GetDuracionAMD]    Script Date: 1/29/2026 2:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetDuracionAMD](@days INT)
RETURNS VARCHAR(50) AS
BEGIN
DECLARE @years INT, @months INT, @Ret VARCHAR(MAX)

SELECT @years=0, @months=0
IF @days>364
   SET @years=@days/365
SET @days=@days-(@years*365)

IF @days>29
   SET @months=@days/30
SET @days=@days-(@months*30)

SET @Ret=''
IF @years>0
	SET @Ret=@Ret+CONVERT(VARCHAR(4),@years)  + ' año' +CASE WHEN @years>1  THEN 's '  ELSE ' ' END
IF @months>0
	SET @Ret=@Ret+CONVERT(VARCHAR(2),@months) + ' mes' +CASE WHEN @months>1 THEN 'es ' ELSE ' ' END
IF @days>0
    SET @Ret=@Ret+CONVERT(VARCHAR(2),@days)   + ' día' +CASE WHEN @days>1   THEN 's '  ELSE ' ' END
RETURN @Ret

END
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 1/29/2026 2:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[gas_id] [int] IDENTITY(1,1) NOT NULL,
	[gas_Fecha] [datetime] NULL,
	[gas_Suplidor] [varchar](100) NULL,
	[gas_Factura] [varchar](20) NULL,
	[gas_Inicio] [numeric](10, 4) NULL,
	[gas_Fin] [numeric](10, 4) NULL,
	[gas_Dias] [numeric](7, 2) NULL,
	[gas_Usuario] [varchar](10) NULL,
	[gas_Registrado] [datetime] NULL,
	[gas_Consumido] [numeric](10, 2) NULL,
	[gas_Comprado] [numeric](10, 2) NULL,
	[gas_Tiempo] [varchar](100) NULL,
	[gas_Indice] [numeric](10, 2) NULL,
	[gas_Cambio] [int] NULL,
 CONSTRAINT [PK_bitacora] PRIMARY KEY CLUSTERED 
(
	[gas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bitacora] ADD  CONSTRAINT [DF_bitacora_gas_Registrado]  DEFAULT (getdate()) FOR [gas_Registrado]
GO
/****** Object:  Trigger [dbo].[tgr_bitacora]    Script Date: 1/29/2026 2:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tgr_bitacora] ON [dbo].[bitacora] AFTER INSERT,UPDATE
AS 
BEGIN
     DECLARE @IDPrev INT, @IdxPrev NUMERIC(10,2), @ID INT, @AllDays INT, @OffDays INT, @Cambio INT,
             @From DATETIME, @To DATETIME, @Consumido NUMERIC(10,2), @Comprado NUMERIC(10,2), @Units NUMERIC(5,2)
	 SET NOCOUNT ON
     SELECT @Units    =2.50,
            @To       =gas_Fecha,
            @ID       =gas_id,
            @Comprado =ISNULL(gas_Fin,0)-ISNULL(gas_Inicio,0)
               FROM inserted
     SELECT @IDPrev   =(SELECT MAX(ISNULL(gas_id,0)) FROM bitacora WHERE gas_id<@ID)
     SELECT @From     =gas_Fecha,
            @Consumido=ISNULL(gas_Fin,0.00),
            @IdxPrev  =ISNULL(gas_Indice,0.00)
               FROM bitacora WHERE gas_id=@IDPrev
     SELECT @Consumido=@Consumido-ISNULL(gas_Inicio,0),
            @AllDays  =DATEDIFF(DAY, @From, @To)-ISNULL(gas_Dias,0),
            @Cambio   =CASE WHEN @IdxPrev>ISNULL(gas_Indice,0) THEN -1 WHEN ISNULL(gas_Indice,0)>@IdxPrev THEN 1 ELSE 0.00 END
               FROM inserted
     IF @Consumido<0
        SET @Consumido=0
     UPDATE bitacora SET
            gas_Tiempo=dbo.GetDuracionAMD(@AllDays),
            gas_Comprado=@Comprado*@Units,
            gas_Consumido=@Consumido*@Units,
            gas_Indice=(@Consumido*@Units)/(@AllDays+0.00001),
            GAS_Cambio=@Cambio WHERE gas_id=@ID
END
GO
ALTER TABLE [dbo].[bitacora] ENABLE TRIGGER [tgr_bitacora]
GO
USE [master]
GO
